In [9]:
name = input("enter your name")
age = int(input("enter your age",))
hight = float(input("enter your hight"))
print("your name is =",name, "your age is =",age,"your hight is =",hight)

your name is = dkjsk your age is = 20 your hight is = 2.5

In [ ]:
#l = 5 w = 10  output = 50
length = int(input("enter  length"))
width = int(input("enter width"))

print(length*width)

In [1]:
c = int(input())
f = (c*9/5)+32
print (f)

33.8

In [7]:
s = int(input())
print(s*4)

28

In [9]:
n = int(input())
print(n%7)

6

In [ ]:
x , y = 7 , 3
y = x 
y , x = x , y + 3 
print(x,y)

In [ ]:
#Q1. Write a Python expression that adds two numbers: 7 and 5.

a = 7 
b = 5
print(a+b)

In [ ]:
#Q 2. Subtract 4 from 9 using Python.

a = 4 
b = 9 
print(a-b)

In [ ]:
#3. Multiply 6 by 8 in Python

a = 6  
b = 8 
print(a*b)

In [ ]:
a = 15
b = 2
print(a//b)

In [ ]:
a = 22 
b = 5
print(a%b)

these are the  arthmmatical opraters

In [ ]:
a = -22
b = 8
print(a%b)

In [ ]:
a = 2 
b = 7 
print(a%b)

assigigment operator

In [3]:
x = 10 
x+=5
print(x)

15

In [4]:
y = 20
y -= 3
print(y)

17

In [ ]:
z = 7 
z *= 2
print(z)

In [ ]:
w  = 40
w /= 4
print(w)

In [1]:
a = 8 
b = 6 
print(a>6)

True

In [ ]:
a = 5 
b = 10
print(a<b)

In [2]:
a = 7 
print(a>=a)

True

In [3]:
(3+5)*2-4/2%3

14.0

In [4]:
(7**2+6//3)*(8%3-2)

0

In [5]:
a = 8 
b = a*2
c = b//3+a
print(a,b,c)

8 16 13

In [6]:
p = 10 
q = p-4
r = q+p*2
print(p,q,r)

10 6 26

In [8]:
m = 2 
n= m**2
O = n%m+1
print(m,n,O)

2 4 1

In [ ]:
a = 12 
b = a/3
c = b**2
d = (a+b+c)%5
print(a,b,c,d)

In [9]:
c,d = 12,6
c,d = d+4,c-2
d,c = c//3,d*3
print(c,d+1)

30 4

In [11]:
m,n,a = 8,3,-4
m,n = n*2,m+a-5
n,m= m+4,n//2
print(m,n)

-1 10

In [12]:
m = 8
n = 3
a = -4
m,n = n*2, m+a-5
n ,m = m+a,n//2
print(n,m)

2 -1

In [13]:
a,b = 5,8
a+=5
b-=2
print(a,b)

10 6

In [14]:
x, y = 12, 3
y = x//2
x*=3
x,y=y+1,x-5
print(x,y)

7 31

In [15]:
c ,d = 8,20
d=c*2
c+=5
c,d= d-7,c//3
print(c,d)

9 4