In [ ]:
t = (34,34,9274,3749,38439,"ram","karan",[true,fale])#it is also nested tuple
#it is a imutable list can be change but tuple can't change

In [3]:
t = ('4')
print(type(t))#comma is mandatery
r = ('4',)
print(type(r))

<class 'str'>
<class 'tuple'>

In [5]:
# e = '4',
# print(type(e))

t = ("xyz",(1,3,4,56,77))
print(t[1][-2])

56

In [ ]:
#creating tuple 
tpl = (1,2,3,4,5,6)
tpl [2]='x' #will get type error'

In [ ]:
tup = (2,[3,2.3,"hello"],(1,2,3))
tpl [1][2] = 'python'
print(tpl)#we can not delete the element of tuple but we can only delete the tuple only 
#but we can use the every function with list under the tuple

NameError: name 'tpl' is not defined

In [ ]:
i = (4,(1,334,5,6,73,5,65,5,5,5,),5,5,5,)
print(i[1][0])
print(i[0:4:])

i =2,35,543
print(i)

tpl = (2,45,45,3,363,32,534,4,4,532,5)

1
(4, (1, 334, 5, 6, 73, 5, 65, 5, 5, 5), 5, 5)
(2, 35, 543)

In [1]:
t = (2,4,2,5,67,6,89,(6,3,56,7,53,4),35,353,4)
print(t[-1:-50:-1])
print(67 in t)
print(22 in t)

(4, 353, 35, (6, 3, 56, 7, 53, 4), 89, 6, 67, 5, 2, 4, 2)
True
False

In [23]:
tpl = (1,2,3,4,)
tpl2 = '2,',3,2,
tpl3= tpl + tpl2
print(tpl3)

(1, 2, 3, 4, '2,', 3, 2)

In [24]:
tpl5 = tpl*3
print(tpl5)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
t =(4,5,2,1,56,7)
#take elements in the tuple and retuen a new sorted list 
#(does not sort the tuple itself)
new_t = sorted(t,reverse=True)
#tuple alwayse sorted the vareable in lst 
#
print(new_t)
new_t = tuple(new_t)
print(new_t)

TypeError: 'builtin_function_or_method' object is not iterable

In [42]:
tpl = (3,5,7,11,12,45)
m =0
for i in range(len(tpl)):
    m+=tpl[i]
    if tpl[i]<tpl[i]:
        print("it is ass")
    else:
        print("not")

not
not
not
not
not
not

In [3]:
f =(3,35,5,6,734,74)
for i in range (1,len(f)):
    if f[i]>f[i-1]:
        print("f is sorted")
        break
    else:
        print("f is not sorted")
        break

f is sorted