In [ ]:
t = (34,34,9274,3749,38439,"ram","karan",[true,fale])#it is also nested tuple
#it is a imutable list can be change but tuple can't change

In [3]:
t = ('4')
print(type(t))#comma is mandatery
r = ('4',)
print(type(r))

<class 'str'>
<class 'tuple'>

In [5]:
e = '4',
print(type(e))

t = ("xyz",(1,3,4,56,77))
print(t[1][-22])

<class 'tuple'>

IndexError: tuple index out of range

In [ ]:
#creating tuple 
tpl = (1,2,3,4,5,6)
tpl [2]='x' #will get type error'

In [ ]:
tup = (2,[3,2.3,"hello"],(1,2,3))
tpl [1][2] = 'python'
print(tpl)#we can not delete the element of tuple but we can only delete the tuple only 
#but we can use the every function with list under the tuple

NameError: name 'tpl' is not defined

In [ ]:
i  = ,(1,334,5,6,73,5,65,55,5,5,5,)5,5,5,)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (171392975.py, line 1)